/* css styles */

@import url('https://fonts.googleapis.com/css2?family==Source+Sans+Pro&display=swap');



body {
  font-family: 'Source Sans Pro', Sans-Serif;
  font-size: 1rem;
  line-height: 1.25;
}


/* (A) FLEX LAYOUT */


/* (B) IMAGES */
.img-fluid {
  width: 100%;
  height: auto;
  border: 8px solid #858581;
  border-radius: 5px;
}
